src/TestBos.DocumentFormat.PowerShell/packages/
src/TestBos.DocumentFormat.PowerShell/.vs/
src/TestBos.DocumentFormat.PowerShell/TestBos.DocumentFormat.PowerShell.Cmdlets/bin/
src/TestBos.DocumentFormat.PowerShell/TestBos.DocumentFormat.PowerShell.Cmdlets/obj/